{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="col-md-4 my-4">
    <div class="card">
        <div class="card-header">
            CATEGORIES
        </div>
        <div class="card-body">
        {% for category in categories %}
            <a href="{% url 'blogs:category' category.id %}">{{ category.name }}</a>
        {% endfor %}
        </div>
    </div>
</div>
<div class="col-md-8 my-4">
    <div class="card mb-4">
        <img class="card-img-top" src="{{ blog_info.cover_image.url }}" alt="Cover image">
        <div class="card-body">
            <a href="#">
                <h2 class="card-title mb-0">{{ blog_info.title }} | <span class="text-primary">{{ blog_info.category.name }}</span></h2>
            </a>
            <small class="ml-2">by {{ blog_info.owner }}</small>
            <p class="card-text my-4 ml-3">{{ blog_info.content }}</p>
        </div>
        <div class="card-footer"> Published on {{ blog_info.date_added | date:"F d, Y" }}</div>
        {% if user == blog_info.owner %}
        | <a href="{% url 'blogs:edit' blog_info.id %}">Edit</a>
        {% endif %}
    </div>
</div>

{% endif %}
{% endblock %}